

.autocomplete-box {
	
	position: relative;
	
	.autocomplete {
		
			padding: 18px;
	    width: 100%;
		  padding: 15px 10px 15px 10px; 
	    font-size: 18px;
	    border: none;
	    box-shadow: 0 0 0;
	    border-radius: 5px;
		
	}
	
	.autocomplete-results {
			
			position: absolute;
			background: white;
			width: 100%;

			a {
				cursor: pointer;
				background: white;			
		    padding: 12px 10px 12px 10px;
		    font-size: 18px;	
		    display: block;
		    width: 100%;

    	}
	    	


	}
	
}